html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		title SustainabilityStarter
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"
			)
		link(rel='stylesheet', type='text/css', href='css/index.css')
		link(rel='stylesheet', type='text/css', href='css/cropper.css')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.js')


	body
	.container
		h1 Customize preview for Cropper
			.row
				.col.col-6
					img(id="image" src='https://assets.teenvogue.com/photos/596f5f7501334262038537fb/master/pass/emma%20watson.jpg', alt='Picture')
				.col.col-3
					.preview
			
		script.
			$(document).ready(function(){
				$('document').ready()
				$('#image').cropper({
					preview: '.preview'
				});
				$(function() {
					var $image = $('#image'),
					width = $image.width()
					//+4: the universal constant!
					height = $image.height() + 4;

					$('.preview').css({ 
					//setting width to $image.width() sets the 
					//starting size to the same as orig image
					width: '100%',   
					overflow: 'hidden',
					height: height,
					maxWidth: width,
					maxHeight: height
					});
							});
							$image.cropper({
								preview: '.preview',
								ready: function (e) { 
								$(this).cropper('setData', { 
								height: 467,
								rotate: 0,
								scaleX: 1,
								scaleY: 1,
								width: 573,
								x: 469,
								y: 19
								});
							}	
						});
					})	


//- for in the Js file
//- 	app.post("/donate", (req, res) => {
//- 			var create_payment_json = {
//- 			    "intent": "sale",
//- 			    "payer": {
//- 			        "payment_method": "paypal"
//- 			    },
//- 			    "redirect_urls": {
//- 			        "return_url": "http://localhost:3000",
//- 			        "cancel_url": "http://localhost:3000"
//- 			    },
//- 			    "transactions": [{
//- 			        "item_list": {
//- 			            "items": [{
//- 			                "name": "req.body.campaignName",
//- 			                "sku": "item",
//- 			                "price": "req.body.contribution",
//- 			                "currency": "USD",
//- 			                "quantity": 1
//- 			            }]
//- 			        },
//- 			        "amount": {
//- 			            "currency": "USD",
//- 			            "total": "1.00"
//- 			        },
//- 				        "description": "This is the payment description."
//- 				    }]
//- 				};
//- 				paypal.payment.create(create_payment_json, function (error, payment) {
//- 		   			if (error) {
//- 		        		throw error;
//- 		    		} else {
//- 		       			console.log("Create Payment Response");
//- 		        		console.log(payment);
//- 		    			}
//- 					});

//- script.
//- 	paypal.Button.render({
//- 		env: 'sandbox', // Or 'sandbox'
//- 		client: {
//- 		sandbox: 'ARJ5GQ-vRn8IJ41aJ55V1SVBYufYfmWyKFj0kcVA2EFv9icPs4DWAYKF-tPqwDNvong6ux_9lMYZN1ym',
//- 		production: 'xxxxxxxxx'
//- 		},
//- 		commit: true, // Show a 'Pay Now' button
//- 		payment: function(data, actions) {
//- 		return actions.payment.create({
//- 		payment: {
//- 		transactions: [
//- 		{
//- 		amount: { total: contribution, currency: 'USD' }
//- 				}]
//- 			}
//- 		});
//- 		},
//- 		onAuthorize: function(data, actions) {
//- 		return actions.payment.execute().then(function(payment) {
//- 		});
//- 		}
//- 		}, '#submitDonation');
//- 			$("#donateForm").submit()