.oneCampaign {
	width: 275px;
	height: 550px;
	border: solid 1.5px #dddddd;
	border-radius: 2px;
	cursor: pointer;
	position: relative;
	display: block;
}

.campaignPicture {
	height: 50%;
	width: 100%;
}
 
#title{
	font-weight: bold;
	font-size: 12pt;
	padding-left: 3px;
}

@media screen and (max-width: 480px) {
    .campaignPicture{
        min-width: 200px;
		max-height: 300px;
    }
}

.oneCampaign:hover {
	box-shadow: 0px 0px 5px 2px #3c763d;
	border: solid 2px #3c763d;
}

.containerText {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	position: absolute;
	bottom: 0;
	height: 48%;
	border-top: solid 1px #dddddd;
}