#googleMap{
	border: solid 1px black;
	width: 40%;
	height: 50%;
}

.youtubeVideo{
	width: 50%;
	height: 50%;
}

@media screen and (max-width: 480px) {
	#googleMap{
		min-width: 100%;
		max-height: 100%;
	}
}

.labelCheckbox {
	border: 1px solid #ccc;
	padding:10px;
	width: 125px;
	margin:0 5px 10px;
	display: inline-block; 
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.labelCheckbox:hover {
 background:#eee;
 cursor:pointer;
}

.labelCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.styleCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}  


.labelCheckbox input:checked ~ .styleCheckbox {
	box-shadow: 0px 0px 6px 6px #35CA97;
}

#progressbar1{
	height: 100%;
	background-color: #44b77e;
}

#containerProgressbar{
	width: 40%;
	height: 5%;
	background-color: #b1e6d4; 
}

#containerProgressbar:hover {
	box-shadow: 0px 0px 5px 2px #35CA97;
	transition: all 300ms linear;
}





